# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
BASEPATH=
NEXT_PUBLIC_APP_URL=http://localhost:3000${BASEPATH}
NEXT_PUBLIC_DOCS_URL=https://demos.pixinvent.com/vuexy-nextjs-admin-template/documentation


# -----------------------------------------------------------------------------
# API (ngoni_admin_api_dev Laravel API)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# -----------------------------------------------------------------------------
# Mapbox
# -----------------------------------------------------------------------------
MAPBOX_ACCESS_TOKEN=
